/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.navigation{
	width: 900px;
	margin: auto;
}

nav{
	padding-top: 3%;
}

header nav a{
	margin: 0 27px;
	color: lightslategrey;
}

.content {
	width:100%;
}

.left{
	width: 40%;
	display: inline-block;
	position: relative;
	left: 29%;
}

#Innovation{
	position: relative;
    right: 10%;
}

img{
	display: inline-block;
    margin-left: 12%;
}

h1{
	position: relative;
    bottom: 96px;
    right: 25%;
    font-size: 77px;
}

.logo{
	display: inline-block;
	margin-left: 79%;
    position: relative;
    bottom: 16px;
}

hr{
	border: 1px solid grey;
	margin: 4%;
}

#On{
	position:relative;
	left: 70px;
}

#Demand{
	position:relative;
	right: 3%
}

.content .logo{
	width:45%;
}

#button{
	border: 1px solid black;
	height: 31px;
    width: 163px;
    position: relative;
    bottom: 104px;
    right: 21%;
	padding-top: 1%;
	margin-right:66px;
	text-align: center;
	box-sizing: border-box;
}

.Features{
	display: inline-block;
    width: 36.5%;
	margin: 15px 7% 3%;
    text-align: left;
}

.About{
	display: inline-block;
    width: 34%;
    margin: 15px 7%;
    text-align: left;
}
.middle-img{
	width: 87%;
	position: relative;
	right: 5%;
    display: inline-block;
}


.Services{
	text-align:left;
  	display:inline-block;
	width: 25%;
	margin: 43px 9px 13px 8%;
}

.Product{
	text-align:left;
  	display:inline-block;
  	width:25%;
  	margin:0 2%;
}

.Vision{
	text-align:left;
  	display:inline-block;
  	width:25%;
  	margin:0 2%;
}

.Contact{
	margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 47px;
}

footer{
	text-align: center;
    display: inline-block;
    margin-left: 41%;
	margin-bottom: 18%;
}